<!-- views/fruits/show.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= food %></title> <!-- Dynamic title based on food name -->
  </head>
  <a href="/food/">Back to Foods</a>

  <body>
    <h1><%= food.name %></h1> <!-- Display food name -->
    <% if (food.isBest) { %>
      <p>Is this the Best?</p>
    <% } else { %>
      <p>This is not the favorite!</p>
    <% } %>  
    <body>
        <h1>Log a new Food Item!</h1>
        <form action="/food" method="POST">
          <label for="name">Name:</label>
          <input type="text" name="name" id="name" />
      
          <label for="isBest">Your Favorite?</label>
          <input type="checkbox" name="isBest" id="isbest" />
      
          <button type="submit">Add Food Item</button>
        </form>     
        <!-- views/food/new.ejs -->
        <ul>
            <% food.forEach(food => { %>
                <li><a href="/food/<%= food._id %>"><%= food.name %></a></li>
            <% }); %>
        </ul>
      </body>
    <form action="/food/<%= food._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete <%= food.name %></button>
        <br/>
        <br/>
      </form>
      <a href="/food/<%= food._id %>/edit">Edit <%= food.name %></a>
      <br/>
      <a href="/food">Back to Food Categories</a>
  </body>
</html>